---
- set_fact:
    galaxyctl_bin_path: '/usr/bin'
  when: ansible_os_family == "RedHat"

- set_fact:
    galaxyctl_bin_path: '/usr/local/bin'
  when: ansible_os_family == "Debian"

- name: Check galaxyctl
  command: '{{ galaxyctl_bin_path }}/galaxyctl --version'
  ignore_errors: true
  changed_when: false # read-only task
  register: galaxyctl_is_installed
  become_user: root
  become_method: sudo

- set_fact:
    galaxyctl_path: '{{ galaxy_FS_path }}/.galaxyctl'
  when: galaxyctl_is_installed.rc != 0

- name: 'Clone Galaxy Central Management Tool (galaxyctl)'
  git:
    repo: 'https://github.com/Laniakea-elixir-it/galaxyctl.git'
    version: HEAD
    clone: yes
    update: yes
    dest: '{{ galaxyctl_path }}'
  when: galaxyctl_is_installed.rc != 0

- name: Find system pip path
  command: '/usr/bin/which pip'
  register: pip_path
  environment:
    PATH: '/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin'

- name: Install galaxyctl
  pip:
    name: '{{ galaxyctl_path }}/.'
    executable: '{{ pip_path.stdout }}'
  become_user: root
  become_method: sudo
  when: galaxyctl_is_installed.rc != 0
